:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(235, 228, 250);
}

.list-group {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    flex-flow: row wrap
}

.navbar-brand {
    justify-content: center;
    align-items: center;
    display: flex;
}

.list-group-item {
    list-style-type: none;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none
}

.list-group-item button {
    text-transform: capitalize;
    font-size: 1.5rem;
    width: 250px;
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.navbar {
    background-color: rgb(83, 80, 80)
}

.btn-info {
    background-color: rgb(107, 84, 133);
    border: none;
}


.btn-info:hover {
    color: #fff;
    background-color: rgb(126, 0, 245);
}


.modal {
    background-color: rgba(255, 219, 243, 0.265)
}

.modal-header {
    border-bottom: none
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    background-color: rgb(206, 202, 223);
    max-width: 600px;
    border-radius: 8px;
    text-align: center;
}

.modal-title {
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(16, 51, 56)
}

.modal-body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.modal-items {
    font-size: 1rem;
    width: 200px;
    height: auto;
    margin-top: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(87, 34, 148);
    text-align: center;
    text-transform: capitalize
}



/* .button-class {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .modal-container {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(42, 42, 119);
  }
  
  #modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  
    z-index: 999;
    overflow: auto;
    display: grid;
    text-align: center;
  }
  
  .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #bcbcdf;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    border-radius: 10px;
    border: solid;
  }
  
  .modal-close {
    float: right;
    border: 0;
    background: none;
    color: #9b0101;
    font-weight: 900;
    font-size: large;
    cursor: pointer;
  }
  
  .modal h1 {
    margin-top: 0;
    font-size: 40px;
  }
  
  .modal p {
    margin-bottom: 0;
    font-weight: 900;
    font-size: 25px;
  }
  
  .modal-img {
    width: 150px;
    height: 150px;
    margin-left: 30px;
    margin-top: -20px;
  }
   */
